@font-face {
   font-family: 'Mont-Regular (1)';
   font-display: swap;
   src: url('file:///C:/Users/MKT13/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-03-02_114855/fonts/Mont-Regular%20(1)/font.ttf');
}
